<html>
	<head>
			<title>Gateway WiFi Setup</title>
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<script src="/js/jquery-1.8.2.min.js" type="text/javascript"></script>
			<script src="/js/connected.js" type="text/javascript"></script>
			<link rel="stylesheet" href="/css/bootstrap.css" type="text/css" />
			<link rel="stylesheet" href="/css/bootstrap-responsive.css" type="text/css" />
			<link rel="stylesheet" href="/css/style.css" type="text/css" />
	</head>

	<body>
		<div class="container">

			<div class="hero-unit">

				<h1>请断开网线. 正在重启...</h1>

			</div>

			<!--<div class="hidden" id="close">-->
				<!--You may now close this window and return to the Gateway Dashboard.-->
			<!--</div>-->

		</div>
	</body>
</html>
