<html>
	<head>
			<title>Gateway WiFi Setup</title>
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<script src="/js/jquery-1.8.2.min.js" type="text/javascript"></script>
			<script src="/js/plugin.js" type="text/javascript"></script>
			<link rel="stylesheet" href="/css/bootstrap.css" type="text/css" />
			<link rel="stylesheet" href="/css/bootstrap-responsive.css" type="text/css" />
			<link rel="stylesheet" href="/css/style.css" type="text/css" />
	</head>

	<body>
		<div class="container">

			<div class="hero-unit">

				<h1>请插入 WiFi 适配器.</h1>
				<p id="waiting">查找设备设备, 可能需要一些时间 ...</p>
        <br>
        <br>
        <br>
        <br>
				<p id="connecting" class="hidden">发现到设备. 正在初始化 ...</p>
				<!--<img src="/img/plug_in_wifi.svg" />-->
			</div>

		</div>
	</body>
</html>
