<html>
	<head>
			<title>Gateway WiFi Setup</title>
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<script src="/js/jquery-1.8.2.min.js" type="text/javascript"></script>
			<script src="/js/auth.js" type="text/javascript"></script>
			<link rel="stylesheet" href="/css/bootstrap.css" type="text/css" />
			<link rel="stylesheet" href="/css/bootstrap-responsive.css" type="text/css" />
			<link rel="stylesheet" href="/css/style.css" type="text/css" />
	</head>

	<body>
		<div class="container">

			<div class="hero-unit">

				<h1>Device Serial Unavailable</h1>
				<p>The WiFi utility was unable to detect the serial number of this
					device. If this problem persists, please restart your device or
					consult the forums. This is a security precaution to prevent
					unauthorized changes to your device.</p>
			</div>

		</div>
	</body>
</html>
